
<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>TRANSPORTISTAS</h2>
    <button class="btn btn-primary" (click)="mostrarFormularioCrear = !mostrarFormularioCrear">
      <i class="bi bi-plus-circle"></i> Crear Transportista
    </button>
  </div>

  <div *ngIf="mostrarFormularioCrear" class="card p-4 mb-4">
    <h5>Nuevo Transportista</h5>

    <form (ngSubmit)="crearTransportista()" #formCrear="ngForm">
      <div class="row">
        <div class="col-md-4 mb-3">
          <label for="documento">Documento</label>
          <input id="documento" type="text" class="form-control" [(ngModel)]="nuevoTransportista.documento" name="documento" required>
        </div>
        <div class="col-md-4 mb-3">
          <label for="razonsocial1">Razón Social</label>
          <input id="razonsocial1" type="text" class="form-control" [(ngModel)]="nuevoTransportista.razonSocial" name="razonSocial" required>
        </div>
        <div class="col-md-4 mb-3">
          <label for="conacto1">Contacto</label>
          <input id="conacto1" type="text" class="form-control" [(ngModel)]="nuevoTransportista.contacto" name="contacto" required>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 mb-3">
          <label for="tipo1">Tipo de Vehículo</label>
          <input id="tipo1" type="text" class="form-control" [(ngModel)]="nuevoTransportista.tipoVehiculo" name="tipoVehiculo" required>
        </div>
        <div class="col-md-4 mb-3">
          <label for="capacidad1">Capacidad de Carga</label>
          <input id="capacidad1" type="text" class="form-control" [(ngModel)]="nuevoTransportista.capacidadCarga" name="capacidadCarga" required>
        </div>
        <div class="col-md-4 mb-3">
          <label for="estado1">Estado</label>
          <select id="estado1" class="form-select" [(ngModel)]="nuevoTransportista.estado" name="estado" required>
            <option value="">--Seleccione Estado--</option>
            <option *ngFor="let estado of estadosDisponibles" [value]="estado">{{ estado }}</option>
          </select>
        </div>
      </div>

      <button type="submit" class="btn btn-success">Guardar</button>
    </form>
  </div>



  <!-- Buscadores -->
  <div class="row align-items-end mb-4">
    <!-- Buscar por Estado (Dropdown) -->
    <div class="col-md-4">
      <label for="estado" class="form-label">Buscar por Estado</label>
      <div class="input-group">
        <span class="input-group-text">
          <i class="bi bi-search"></i>
        </span>
        <select
          id="estado"
          class="form-select"
          [(ngModel)]="searchTermEstado"
        >
          <option value="">-- Seleccionar Estado --</option>
          <option *ngFor="let estado of estadosDisponibles" [value]="estado">{{ estado }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary btn-sm w-100" (click)="buscarPorEstado()">Buscar Estado</button>
    </div>

    <!-- Buscar por Razón Social -->
    <div class="col-md-4">
      <label for="razonsocial" class="form-label">Buscar por Razón Social</label>
      <div class="input-group">
        <span class="input-group-text" id="search-razonsocial">
          <i class="bi bi-search"></i>
        </span>
        <input
          type="text"
          id="razonsocial"
          class="form-control"
          placeholder="Razón Social..."
          [(ngModel)]="searchTermRazonSocial"
          aria-label="Buscar por Razón Social"
          aria-describedby="search-razonsocial"
        >
      </div>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary btn-sm w-100" (click)="buscarPorRazonSocial()">Buscar Razón Social</button>
    </div>
  </div>

  <!-- Botón limpiar -->
  <div class="row mb-4">
    <div class="col-md-2">
      <button class="btn btn-secondary btn-sm w-100" (click)="limpiarBusqueda()">Limpiar Búsqueda</button>
    </div>
  </div>

  <!-- Tabla de resultados de búsqueda -->

  <div *ngIf="resultadosBusqueda.length > 0" class="mt-5">
    <h2>Listado de Transportistas Buscados</h2>
    <h4>Resultados de Búsqueda</h4>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Documento</th>
        <th>Razón Social</th>
        <th>Contacto</th>
        <th>Tipo Vehículo</th>
        <th>Capacidad Carga</th>
        <th>Estado</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let t of resultadosBusqueda | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
        <td>{{ t.documento }}</td>
        <td>{{ t.razonSocial }}</td>
        <td>{{ t.contacto }}</td>
        <td>{{ t.tipoVehiculo }}</td>
        <td>{{ t.capacidadCarga }}</td>
        <td>{{ t.estado }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="cargando">
    <p>Cargando transportistas...</p>
  </div>

  <div *ngIf="error" class="alert alert-danger">
    {{ error }}
  </div>



  <div  class="mt-5">
    <h2>Listado de Transportistas Totales</h2>
    <!-- Formulario de búsqueda -->
    <div class="row mb-3">
      <div class="col-md-12">
        <div class="input-group">
        <span class="input-group-text" id="search-icon">
          <i class="bi bi-search"></i> <!-- Ícono de Bootstrap Icons -->
        </span>
          <input
            type="text"
            class="form-control"
            placeholder="Buscar transportista..."
            aria-label="Buscar transportista"
            aria-describedby="search-icon"
            [(ngModel)]="searchTerm"
            (ngModelChange)="page = 1"
          >
        </div>
      </div>
    </div>

    <table *ngIf="!cargando && transportistas.length > 0" class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Documento</th>
        <th>Razón Social</th>
        <th>Contacto</th>
        <th>Tipo de Vehículo</th>
        <th>Capacidad de Carga</th>
        <th>Estado</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let t of transportistasFiltrados | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
        <td>{{ t.documento }}</td>
        <td>{{ t.razonSocial }}</td>
        <td>{{ t.contacto }}</td>
        <td>{{ t.tipoVehiculo }}</td>
        <td>{{ t.capacidadCarga }}</td>
        <td>{{ t.estado }}</td>
        <td>
          <button class="btn btn-sm btn-primary me-2" (click)="editarTransportista(t)">
            <i class="bi bi-pencil-square"></i> Editar
          </button>
        </td>
        <td>
          <button class="btn btn-sm btn-dark" (click)="eliminarTransportista(t)">
            <i class="bi bi-trash"></i> Eliminar
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>

  <div *ngIf="!cargando && transportistas.length === 0">
    <p>No se encontraron transportistas.</p>
  </div>

  <!-- Modal de Edición -->
  <div class="modal fade" id="editarTransportistaModal" tabindex="-1" aria-labelledby="editarTransportistaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form (ngSubmit)="guardarCambios()" #formEditar="ngForm">
          <div class="modal-header">
            <h5 class="modal-title" id="editarTransportistaModalLabel">Editar Transportista</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="documento2">Documento</label>
                <input id="documento2" type="text" class="form-control" [(ngModel)]="transportistaSeleccionado.documento" name="documento" readonly>
              </div>
              <div class="col-md-6 mb-3">
                <label for="razonsocial2">Razón Social</label>
                <input id="razonsocial2" type="text" class="form-control" [(ngModel)]="transportistaSeleccionado.razonSocial" name="razonSocial" required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="contacto2">Contacto</label>
                <input id="contacto2" type="text" class="form-control" [(ngModel)]="transportistaSeleccionado.contacto" name="contacto" required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="tipo2">Tipo Vehículo</label>
                <input id="tipo2" type="text" class="form-control" [(ngModel)]="transportistaSeleccionado.tipoVehiculo" name="tipoVehiculo" required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="capacidad2">Capacidad de Carga</label>
                <input id="capacidad2" type="text" class="form-control" [(ngModel)]="transportistaSeleccionado.capacidadCarga" name="capacidadCarga" required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="estado2">Estado</label>
                <select id="estado2" class="form-select" [(ngModel)]="transportistaSeleccionado.estado" name="estado" required>
                  <option *ngFor="let estado of estadosDisponibles" [value]="estado">{{ estado }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-success">Guardar Cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
